.history-container li{
    list-style-type: none;
}

.temp img{
    min-height: 1rem;
    min-width: 1rem;
}

.border-info img{
    height:5rem;
    width: 5rem;
}

.list-group-item{
    user-select: none;
}